{% extends 'base.html' %}
{% load static %}
{% block titulo %} login 
{% endblock %}
{% block content %}
<div class="body-login-linear">
    <div class="main-container-login ">
        <div class="image-container-login">
            <img src="{% static 'images/imagelogin.png' %}" alt="Side Image">
        </div>
        <div class="form-container-login">
            <h2>Bem Vindo!</h2>
            
            <form>
                <div class="form-group-login">
                    <label for="E-mail">E-mail</label>
                    <input type="text" id="E-mail" placeholder="E-mail">
                    <span class="heart-icon-login">&#10084;</span>
                </div>
                <div class="form-group-login">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" placeholder="Username">
                </div>
                <div class="form-group-login">
                    <label for="password">Senha</label>
                    <input type="password" id="password" placeholder="Password">
                </div>
                <button class="button-red" type="submit">Cadastre-se</button>
            </form>
        </div>
    </div> 

</div>

    
{% endblock %}


